
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(245, 239, 239);
}
/* header*/
header {

    background-image: url('images/women.png');
    background-size: cover;
    background-position: center;
    height: 95vh;
    padding: 20px;
    color: #fff; 
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    margin-right: 10px;
    margin-left: 20px;
}
.language ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.language li {
    display: inline;
    margin-right: 10px;
}
.header-content {
    text-align: left;
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: contents;
}
.header-content h1 {
    font-size: 40px;
    margin-top: 60px;
    margin-left: 100px;
    margin-top: 200px;
    color: black;
    font-style: normal;
}
.header-content ul {
    list-style-type:square;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size:larger;
    color: black;
    margin-left: 130px;
    margin-top: 40px;
}
.header-content ul li {
    margin-bottom: 10px;
    font-family:cursive;
}


/* Content styles part img-1*/
.content {
    display: flex;
    align-items: center;
    margin: 60px;
    margin-left:40px;
    
}
.content h1 {
    color: teal;
    font-size: 40px;
    margin-bottom: 10px;
    font-family:'Times New Roman', Times, serif;
    /* flex: 1;  */
}
.content p {
    color:black ;
    font-size: 20px;
    font-style: normal;
    margin-bottom: 20px;
    /* flex: 1;  */
}
.content img {
    margin: 60px;
    margin-right: 50px;
    margin-left: 180px;
    max-width: 100%; 
    border-radius: 20px;
}

/* img-2 */
.content-1 {
    display: flex;
    align-items: center;
    margin: 60px;
    margin-left:40px;
    
}
.content-1 h1{
    color: teal;
    font-size: 40px;
    margin-bottom: 10px;
    font-family:'Times New Roman', Times, serif;
    /* flex: 1;  */
}   
.content-1 p {
    color:black ;
    font-size: 20px;
    font-style: normal;
    margin-bottom: 20px;
    /* flex: 1;  */
}
.content-1 img{
    margin: 60px;
    margin-right: 50px;
    margin-left: 250px;
    max-width: 100%; /* Adjust as needed */
    border-radius: 20px;
}

/* img-3 */
.content-2 {
    display: flex;
    align-items: center;
    margin: 60px;
    margin-left:40px;
    
}
.content-2 h1{
    color: teal;
    font-size: 40px;
    margin-bottom: 10px;
    font-family:'Times New Roman', Times, serif;
}
.content-2 p {
    color:black ;
    font-size: 20px;
    font-style: normal;
    margin-bottom: 20px;
}
.content-2 img{
    margin: 60px;
    margin-left: 50px;
    margin-right: 250px;
    max-width: 100%; /* Adjust as needed */
    border-radius: 20px;
}

/* img-4 */
.content-3 {
    display: flex;
    align-items: center;
    margin: 60px;
    margin-left:40px;
    
}
.content-3 h1{
    color: teal;
    font-size: 40px;
    margin-bottom: 10px;
    font-family:'Times New Roman', Times, serif;
}
.content-3 p {
    color:black ;
    font-size: 20px;
    font-style: normal;
    margin-bottom: 20px;
}
.content-3 img{
    margin: 60px;
    margin-right: 50px;
    margin-left: 250px;
    max-width: 100%; 
    border-radius: 20px;
}

/* part-3 */
section{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 3rem;
    margin: 2rem 0rem;
    color: black;
}
.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(175, 65, 65);
    cursor: pointer;

}
.questions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.question h3{
    font-size: 1.8rem;

}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}
.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.2rem;
    color: black;
}
.faq.active .answer{
    max-height: 300px;
    animation: fade 1s ease-in-out;   /*p animation*/

}
.faq.active svg{
    transform:rotate(180deg) ;
}
svg{
    transition: transform 0.5s ease-in;
}

@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

/* part4 */
.row{
    background-color: rgb(49, 78, 78);
    height: 40vh;
    width: 70%;
    margin: 30px;
    margin-left: 200px;
    border-radius: 30px;
}
.logo1 {
    text-align: center;
}
h1{
    font-size: 35px;
}
.download-button {
    color: white; 
    background-color: blue; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-left: 370px;
    margin-top: 30px;
    width: 20%;
    height: 45px;
}
.download-button:hover {
    background-color: darkblue; 
}

/* part5 */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* part6 */
.logo2 {
    text-align: center; 
}
.logo2 img,
.logo2 p {
    display: block; 
    margin: 0 auto; /* Center both image and paragraph horizontally */
}
.logo3 {
    margin-left: 100px; 
    display: inline-block;
    vertical-align: top; 
}
.footer p {
    display: block; 
    margin-top: 20px; 
    margin-left: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer {
    justify-content: space-between;
    align-items: center;
}
.logo4 {
    position: relative;
    margin-left: 30px;
}
.info {
    position: absolute;
    top: 70px; 
    margin-left: 20px;
    color: black;
}